
.gameboard {
  display: grid;
  grid-template-columns: repeat(1, 79.6%);
  justify-content: center;
  position: relative;
}
.gameboard__header {
  align-items: center;
  color: white;
  display: grid;
  background-color: #a34a3f;
  width: 81vw;
  font-size: 1em;
  grid-column: 1;
  height: 15vh;
  padding-left: 1vw;
  position: relative;
  z-index: 2;
}
.addplayer__wrapper, .submit__wrapper {
  align-items: center;
  border-radius: 0px;
  color: white;
  display: grid;
  font-size: 1.2em;
  grid-column: 1 / span 2;
  width: 81.5vw;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;

  .title {
    padding-top: 19px;
    left: 20px;
    color: black;
    position: relative;
    text-align: right;
  }

  .input__wrapper {
    display: block;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    display: grid;
    align-items: center;
    justify-self: center;
  }

  .player-name__input {
    bottom: 10px;
    display: block;
    position: relative;
  }
}
.btn {
  font-family: 'kayak_sans-light_italic', sans-serif;
  font-size: 1em;
  background-color: rgb(222, 156, 16);
  border: 0px;
  border-radius: 2px;
  text-align: center;
  color: white;
  padding: 3vh;
  display: block;
  margin: 1vw;
  width: 40vw;
  border-radius: 2px;
  z-index: 4;
  &:hover {
    cursor: pointer;
    background-color: rgba(26, 177, 45, 1);
  }
  &:disabled {
    cursor: default;
    background-color: gray;
  }
}
.tile {
  align-items: center;
  border-radius: 0px;
  display: grid;
  height: 45vh;
  justify-content: center;
  position: relative;
  width: 40.5vw;
}
.form-custom {
  display: grid;
  width: 81vw;
  select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: #333333;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.4em;
    -webkit-appearance: none;
  }
  select:focus {
    outline: none;
  }
  input::-webkit-input-placeholder {
  	color: #fefefe;
  	opacity: 1;
  }
  input:focus::-webkit-input-placeholder {
  	color: #111;
  	opacity: .5;
  	transition: all 0.3s ease;
  }
  input[type="text"] {
  	font-weight: 700;
  	font-size: 1.4em;
    padding: 2.8%;
    width: 38vw;
  	border:0px;
    border-radius: 2px;
  	border-style: solid;
  	background-color: $playerfield;
  	outline: 0;
  }
  input[type="text"]:focus {
    background: white;
    transition: all 0.3s ease;
    color: #222;
  }
}

.winner {
  background-color: $winnerbg;
  grid-column: 1/2;
}
.loser {
  background-color: $loserbg;
  grid-column: 2/2;
  margin-left: 5px;
}
.leaderboard__wrapper {
  height: 100vh;
  margin-top: 15vh;
  width: 100vw;
}
.leaderboard {
  align-items: center;
  background-color: $leaderboardbg;
  border-radius: 0px;
  display: grid;
  justify-content: center;
  min-height: 60vh;
  position: relative;
  width: 81vw;
  &::before {
    z-index: -1;
    background: transparent;
    transform: translateX(-2em) translateY(-2.25em);
    border: 3px solid #0e39fe;
  }
  &::before, &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
  }
}
