body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}
.scrollbar::-webkit-scrollbar {
  width: 6px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #36383e;
  border-radius: 2px;
  cursor: pointer;
  overflow-y: visible;
  width: 6px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: rgb(239, 246, 236);
  width: 5px;
}
h1 {
  font-size: 2em;
  color: #FFFFFF;
}
h2 {
  font-size: 1.75em;
}
h3 { font-size: 1.375em; color: white; }
h4 { font-size: 1.125em; }
h5 { font-size: 1em; }
h6 { font-size: .875em; }

h1,h2,h3,h4,h5,h6 {
	font-weight: 500;
	line-height: 1.1;
	margin: 0 0 .5em;
}
a:link, a:visited, a:active, a:focus {
  cursor: pointer;
  text-decoration: none;
  outline: -webkit-focus-ring-color auto 0px;
}



.gameboard__wrapper {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  width: 100%;
}
.gameboard__header {
  width: 100vw;
  height: 10vh;
  background-color: #333333;
  position: absolute;
  color: white;
  padding-left: 10vw;
  font-size: 1em;
  display: flex;
  align-items: center;
  z-index: 2;
  justify-content: flex-start;
}
.gameboard--left {
  background-color: rgb(75, 17, 133);
  height: 100vh;
  width: 50vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
// .player__name--field {
//
// }
// .winner--btn {
// 
// }
.gameboard--right {
  background-color: rgb(91, 121, 83);
  height: 100vh;
  display: flex;
  // right: 10%;
  position: relative;
  align-items: center;
  justify-content: center;
  // z-index: 2;
}
