.gameboard {
  font-family: 'apex_mk2light_condensed', sans-serif;
  font-weight: 100;
  display: grid;
  grid-template-columns: repeat(1, 67vw);
  grid-gap: 3vh;
  justify-content: center;
  position: relative;
}
.gameboard__header {
  align-items: center;
  color: white;
  display: grid;
  border-radius: 4px;
  box-shadow: $deepshadow;
  background-color: $gameboardbg;
  margin-top: 8vh;
  font-size: 1em;
  grid-column: 1;
  height: 10vh;
  padding-top: 2vh;
  padding-left: 1vw;
  position: relative;
  z-index: 2;
}
.madeby-eden {
  position: relative;
  top: -12px;
}
.addplayer__wrapper, .submit__wrapper {
  align-items: center;
  color: white;
  display: grid;
  font-size: 1.2em;
  grid-column: 1 / span 2;
  border-radius: 4px;
  box-shadow: $deepshadow;
  background-color: $gameboardbg;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  .title {
    display: inline-grid;
    left: 16%;
  }
  .player-name__input {
    bottom: 10px;
    display: block;
    position: relative;
  }
}
.submit__wrapper {
  margin-top: 3.5vh;
}
.gameboard__title {
  text-shadow: $deepshadow;
  @media screen and (max-width: 375px) {
    font-size: 1.87em;
  }
}
.title {
  grid-column: 1;
  left: 16%;
  display: inline-grid;
  text-shadow: $deepshadow;
  color: white;
  position: relative;
  text-align: right;
  @media screen and (min-width: 375px) and (max-width: 620px) {
    left: 10%;
  }
  @media screen and (min-width: 620px) and (max-width: 880px) {
    left: 23%;
  }
  @media screen and (min-width: 985px) and (max-width: 1400px) {
    left: 16%;
  }
}
.input__wrapper {
  display: grid;
  font-weight: 100;
  margin-bottom: 10px;
  top: 10px;
}
.btn {
  font-family: 'apex_mk2light_condensed', sans-serif;
  font-weight: 100;
  font-size: 2em;
  border: 0px;
  background-color: $button-hover;
  border-radius: 2px;
  text-align: center;
  padding: 3vh;
  display: block;
  width: 40.5vw;
  border-radius: 2px;
  z-index: 4;
  &:hover {
    cursor: pointer;
    background-color: lighten($button-hover, 20%);
    transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
  	transition: all 0.3s ease;
  }
  &:disabled {
    cursor: no-drop;
    color: white;
    background-color: $button-disabled;
  }
}
.tile {
  align-items: center;
  border-radius: 0px;
  display: grid;
  height: 22vh;
  justify-content: center;
  position: relative;
  border-radius: 4px;
  box-shadow: $deepshadow;
}
.form-custom {
  display: grid;
  .select-custom {
    position: relative;
    display: block;
    width: 20em;
    height: 3em;
    box-shadow: $deepshadow;
    line-height: 3;
    background-color: $darkgreen;
    overflow: hidden;
    border-radius: .25em;
  }
  select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
  }

  .select-custom::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495e;
    pointer-events: none;
  }
  .select-custom:hover::after {
    color: #f39c12;
  }
  .select-custom::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  input::-webkit-input-placeholder {
  	color: rgba(#fefefe, 0.38);
  	opacity: 1;
  }
  input:focus::-webkit-input-placeholder {
  	color: #111;
  	opacity: .5;
  	transition: all 0.3s ease;
  }
  input[type="text"] {
  	font-weight: 700;
  	font-size: 1.4em;
    padding: 2.8%;
    width: 38vw;
  	border:0px;
    border-radius: 25px;
  	border: 1px rgba(255, 255, 255, 0.65) solid;
    box-shadow: $lightshadow;
  	background-color: $forminput;
  	outline: 1px;
    font-family: 'apex_mk2light_condensed', sans-serif;
    font-weight: 100;
  }
  input[type="text"]:focus {
    background: white;
    box-shadow: $lightshadow;
    transition: all 0.3s ease;
    color: #222;
  }
 @media screen and (max-width: 935px) {
   display: block;
 }
}

.winner {
  background-color: $winnerbg;
  grid-column: 1/2;
}
.loser {
  background-color: $loserbg;
  grid-column: 2/2;
  margin-left: 5px;
  @media screen and (max-width: 935px) {
    margin-top: 15px;
  }
}
.leaderboard__wrapper {
  display: grid;
  align-self: center;
  margin-top: 15vh;
  margin-bottom: 15vh;
}
.leaderboard {
  align-items: center;
  background-color: $gameboardbg;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  height: 30vh;
  position: relative;
  justify-self: center;
  box-shadow: $deepshadow;
  min-width: 65vw;
  font-size: 1.85em;
  position: relative;
  ::-webkit-scrollbar-track {
    background: none;
    width: 5px;
  }
}
.leaderboard__title {
  left: 5%;
  position: relative;
  font-size: 3em;
  text-shadow: $deepshadow;
}
.ReactTable {
  color: white;
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
  .rt-thead .rt-tr {
    background-color: $forminput;
    color: $button-hover;
    border-radius: 12px;
  }
  .tr-td {
    background: white;
  }
}
