@font-face {
  font-family: 'apex_mk2light_condensed';
  src: url('./../../assets/fonts/apexmk2-lightcondensed.woff2') format('woff2'),
       url('./../../assets/fonts/apexmk2-lightcondensed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
