:root {
  margin:0px;
  overflow:auto;
  padding:0px;
  background-color: $darkgreen;
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(239, 246, 236);
    border-radius: 6px;
    cursor: pointer;
    overflow-y: visible;
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: none;
    width: 5px;
  }
}

body {
  background-image: url(./../../assets/img/green-geo.png);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: bottom right;
  font-family: 'apex_mk2light_condensed', sans-serif;
  font-weight: 100;
  margin: 0;
  display: grid;
  overflow-x: hidden;
  padding: 0;

  h1 {
    color: #FFFFFF;
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 { font-size: 1.375em; color: white; }
  h4 { font-size: 1.125em; }
  h5 { font-size: 1em; }
  h6 { font-size: .875em; }

  h1,h2,h3,h4,h5,h6 {
  	font-weight: 500;
  	line-height: 1.1;
  	margin: 0 0 .5em;
  }

  h1 { text-shadow: $deepshadow; }
  a:link, a:visited, a:active, a:focus {
    cursor: pointer;
    outline: -webkit-focus-ring-color auto 0px;
    text-decoration: none;
    color: $mustard;
  }
}
