$gameboardbg: rgba(166,94,0,.61);
$winnerbg: rgba(51,184,145,.61);
$loserbg: rgba(180,49,0,.70);
$darkgreen: #135742;

$lightshadow: 4px 4px 8px rgba(233, 233, 233, 0.45);
$deepshadow: 4px 4px 8px rgba(37, 37, 37, 0.35);
$button-enabled: #0B3A11;
$button-disabled: rgba(62,62,62,.44);
$button-hover: rgba(221, 200, 19, 0.61);
$mustard: rgba(221, 200, 19, 1);
$forminput: #3A360B;
